*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    background-color: #f1f0f0;
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.whats-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.app-logo{
    color: green;
    font-size: 20px;
}

.homebody{
    display: flex;
    height: 94%;
}

.sidebar{
    flex: 3%;
    background-color: #f1f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 5px;
}

.sidebar-1, .sidebar-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.otherside{
    flex: 95%;
    background-color: white;
    color: black;
    height: 100%;
}

.sidebar1-logo{
    font-size: 18px;
}

.sidebar2-logo{
    font-size: 20px;
}

.sidebar1-logo:hover, .sidebar2-logo:hover{
    background-color: pink;
    width: 20px;
}

.chat{
    display: flex;
    height: 100%;
}

.section1{
    flex: 30%;
}

.section2{
    flex: 70%;
    height: 90%;
}

.chat-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
}

.chat-section h3{
    font-size: 25px;
}

.lines{
    display: flex;
    align-items: center;
    gap: 30px;
}

.lines-logo{
    font-size: 20px;
}

.search-div{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #adacac;
    width: 90%;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0px 10px 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    color: #6b6a6a;
}

.chat-messages{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 5px;
    border-radius: 5px;
}

.chat-messages:hover{
    background-color: #f1f0f0;
}

.chat-div-separate{
    display: flex;
    flex-direction: column;
    flex: 90%;
    gap: 6px;
}

.name-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-date p{
    font-size: 14px;
}

.search-input{
    border: none;
    outline: none;
    width: 90%;
}

.profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.msg-not{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg-not p{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.msg-not h6{
    background-color: rgb(37, 211, 102);
    color: white;
    width: 18px;
    height: 18px;
    display: grid;
    place-content: center;
    border-radius: 9px;
}

.Whatsapp-logo-text{
    height: 94vh;
    display: grid;
    place-content: center;
    text-align: center;
    border-left: 1px solid #dad8d8;
}

.Whatsapp-logo-text h3{
    font-size: 24px;
    margin-bottom: 16px;
}

.Whatsapp-logo-text p{
    color: grey;
    margin-bottom: 5px;
}

.logo-text{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-size: 80px;
    color: rgb(216, 214, 214);
    margin-bottom: 20px;
}

.end-lock{
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    top: 150px;
}